/log/
/board.txt
/.idea/
/.venv/
/.vscode/
/__pycache__/
/BL/__pycache__/
github
.gitignore
github.pub
webapp/__pycache__/app.cpython-312.pyc
webapp/frontend/node_modules/
/venv/
webapp/frontend/.env
.env
*/__pycache__/*

