.player-greetings {
  font-size: 3em;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.player-greetings-container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-text {
  font-size: 0.5em;
  color: #888;
  padding: 5px 0;
}

.bullet {
  border: 1px solid #888;
  border-radius: 25%;
  width: 1em;
  height: 1em;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}