.player-greetings {
  font-size: 2em;
  text-transform: capitalize;
}

.player-greetings-container {
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 0.5em;
  color: #888;
  padding: 5px 0;
}

.bullet {
  border: 1px solid #888;
  border-radius: 25%;
  width: 1em;
  height: 1em;
  animation: pulse 1.5s infinite;
}

.map_background {
  background: radial-gradient(circle at center, navy 10%, rgba(0, 0, 0, 0) 70%);
}

.player-percentage {
  text-align: center;
  text-shadow: 0 0 10px navy;
}

.player-points {
  font-size: 4em;
}

.player-points-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
