@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body {
  
  font-family: "Google Sans", sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
}

:root {
  --app-bg: #06142B;
}